.page {
  background: rgba(42, 44, 47, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Inter, sans-serif, Arial;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}