.places {
  max-width: 76.8%;
  margin: 92px auto 92px; 
  padding: 0; 
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 90.6%;
    margin-left: 4.7%;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    max-width: 93.7%;
    margin-left: 3.15%;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 100%;
    margin: 64px 0 66px;
  }
}
