.footer__copyright {  
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
      align-items: flex-start;
      line-height: 14px;
      text-align: left;
    }
}
