.cover {
  max-width: 1184px;
  min-height: 740px;
  margin: 92px 48px 92px;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    max-width: 100%;
    min-height: 480px;
    margin: 90px 0 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    max-width: 100%;
    min-height: 200px;
    margin: 66px 0 64px;
  }
}